<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
</head>
<body>
<div class="row">
    <form class="form-horizontal" th:action="@{/admin/book/addBook}"
          method="post" enctype="multipart/form-data" th:object="${book}">
        <fieldset>
            <legend class="center-block">
                New Book Information<span style="font-size: small"> * is a
							required field</span>
            </legend>
            <!-- title -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="title">* Title</label>

                <div class="col-md-8">
                    <input type="text" name="title" class="form-control" id="title"
                           th:value="${book.title}" required="required" placeholder="Title"/>
                    <span class="help-block">Title of the book</span>
                </div>
            </div>
            <!-- author -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="authors">*
                    Author</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="authors" name="authors"
                           th:value="${book.authors}" required="required"
                           placeholder="Authors"/> <span class="help-block">e.g.: Paul Deitel, Joyace Ferrell</span>
                </div>
            </div>
            <!-- publisher -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="publisher">Publisher</label>
                <div class="col-md-8">
                    <input type="text" name="publisher" class="form-control"
                           id="publisher" th:value="${book.publisher}"
                           placeholder="Publisher"/> <span class="help-block">Publisher
								of the book</span>
                </div>
            </div>
            <!-- publication date -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="publicationDate">Publication
                    Date</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="publicationDate"
                           name="publicationDate" placeholder="DD/MM/YYYY" th:value="${book.publicationDate}"/>
                    <span class="help-block">Publication
								Date of the book</span>
                </div>
            </div>
            <!-- language -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="language">Language</label>
                <div class="col-md-8">
                    <select th:value="${book.language}" id="language" name="language"
                            class="form-control">
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                    </select>
                </div>
            </div>
            <!-- category -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="category">*
                    Category</label>
                <div class="col-md-8">
                    <select name="category" th:field="${book.category}"
                            id="category" class="form-control"
                            style="width: 100%; color: black;">
                        <!--/*@thymesVar id="Char" type="java.lang.Character"*/-->
                        <option th:each="category : ${categories}"
                                th:value="${category.getCategoryId()}"
                                th:text="${category.getCategoryName()}"></option>
                    </select>
                </div>
            </div>
            <!-- pages -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="pageNumber">Pages</label>

                <div class="col-md-8">
                    <input type="number" name="numberOfPages" class="form-control"
                           id="pageNumber" th:value="${book.numberOfPages}"
                           placeholder="Page Number"/> <span class="help-block">Number
								of pages of the book</span>
                </div>
            </div>
            <!-- format -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="format">Format</label>
                <div class="col-md-8">
                    <select th:value="${book.format}" id="format" name="format"
                            class="form-control">
                        <option value="paperback">Paperback</option>
                        <option value="hardcover">Hardcover</option>
                    </select>
                </div>
            </div>
            <!-- isbn -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="isbn">ISBN</label>

                <div class="col-md-8">
                    <input type="text" name="isbn" class="form-control" id="isbn"
                           th:value="${book.isbn}" placeholder="ISBN"/> <span
                        class="help-block">ISBN of the book</span>
                </div>
            </div>
            <!-- shipping weight -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="shippingWeight">Shipping
                    Weight</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input th:value="${book.shippingWeight}" type="number"
                               name="shippingWeight" class="form-control" id="shippingWeight"
                               placeholder="Shipping Weight"/> <span
                            class="input-group-addon">Ounces</span>
                    </div>
                    <span class="help-block">Shipping Weight of the book</span>
                </div>
            </div>
            <!-- list price -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="originalPrice">Original
                    Price</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">$</span> <input
                            th:value="${book.getOriginalPrice().doubleValue()}" type="number" name="originalPrice"
                            class="form-control" id="originalPrice" placeholder="Original Price"/>
                    </div>
                    <span class="help-block">Original price</span>
                </div>
            </div>
            <!-- our price -->
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label" for="offer">Include Offer</label>-->
                <!--<div class="col-md-8">-->
                    <!--<label><input value="true" type="radio" name="active"-->
                                  <!--checked="checked"/> Active </label> <label><input-->
                        <!--value="false" type="radio" name="active"/> Inactive </label> <span-->
                        <!--class="help-block">Whether the book is active or inactive</span>-->

                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">$</span> <input-->
                            <!--th:value="${book.getOffer().doubleValue()}" type="number" name="offer"-->
                            <!--class="form-control" id="offer" placeholder="Offer"/>-->
                    <!--</div>-->
                    <!--<span class="help-block">Our price of the book</span>-->
                <!--</div>-->
            <!--</div>-->
            <!-- in stock number -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="inStockNumber">Number
                    in stock</label>
                <div class="col-md-8">
                    <input th:value="${book.inStockNumber}" type="number"
                           name="inStockNumber" class="form-control" id="inStockNumber"
                           placeholder="Number of in-stock copies"/> <span
                        class="help-block">Number of in-stock copies</span>
                </div>
            </div>
            <!-- status of book -->
            <div class="form-group">
                <label class="col-md-2 control-label">Status</label>
                <div class="col-md-8">
                    <label><input value="true" type="radio" name="active"
                                  checked="checked"/> Active </label> <label><input
                        value="false" type="radio" name="active"/> Inactive </label> <span
                        class="help-block">Whether the book is active or inactive</span>
                </div>
            </div>
            <!-- description -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="description">Description</label>
                <div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
                                      id="description" th:value="${book.description}"
                                      placeholder="Description"> </textarea>
                    <span class="help-block">Description of the book</span>
                </div>
            </div>
            <!-- upload image -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="bookImages">Upload book image</label>
                <div class="col-md-8">
                    <input id="bookImages" type="file" name="image" accept="image/*"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success">Add Book</button>
                    <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $('#category').select2();
    var dateToday = new Date();
    $(
        "#publicationDate")
        .datepicker({
            minDate : dateToday,
            dateFormat : "d/m/yy"
        });
</script>
</html>
