<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<head th:include="common/header_admin :: common-header"></head>

<body>
	<section id="nav-container"></section>
	<div class="container">
		<div class="content-pane">
			<th:if th:test="${requestPath != null}">
                <requestPath th:path="${requestPath}"/>
			</th:if>
		</div>
	</div>
	<div th:replace="common/header_admin:: body-bottom-scripts"></div>

	<script type="text/javascript" th:inline="javascript">
        $('#category').select2();
        var dateToday = new Date();
        $("#publicationDate")
            .datepicker({
                minDate : dateToday,
                dateFormat : "d/m/yy"
            });
	</script>
</body>
</html>
