<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<head th:include="common/header_admin :: common-header"></head>

<body>
	<div th:replace="common/header_admin :: navbar"></div>
	<div class="container">
		<div class="content-pane">
			<th:if th:test="${requestPath != null}">
                <requestPath th:path="${requestPath}"/>
			</th:if>
		</div>
	</div>
	<div th:replace="common/header_admin:: body-bottom-scripts"></div>
</body>
</html>
