<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashbaord</title>
</head>
<body>
<div class="row">
                <div class="wrapper col-2">
                    <canvas id="ChartForOrders" width="378" height="256" class="chartjs-render-monitor" style="display: block; width: 378px; height: 256px;"></canvas>
                </div>
                <div class="col-sm">
                <h3>Monthly</h3>
                <canvas id="#daily_monthly" width="400" height="350"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        One of three columns
    </div>
</div>
</body>
<script src="/app/src/admin/dashboard/utils.js"></script>
<script src="/app/src/admin/dashboard/Dashboard.js"></script>
</html>