<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/site/libs/font-awesome.min.css" rel="stylesheet" />

	<link href="/css/non-responsive.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />

	<!-- Bootstrap datepicker -->
	<link rel="stylesheet" href="/css/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>
	<link rel="stylesheet" href="/app/src/site/product-display/ProductDisplay.css"/>
	<link href="/css/lib/multiple-select/select2.css" type="text/css" rel="stylesheet" />

	<link rel="icon" href="/image/applie-touch-icon.png" />

</head>
<body>
	<div class="container">
		<div class="row"></div>
	</div>
</body>
<script
		src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/css/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script type="text/javascript"
		src="/css/lib/multiple-select/select2.js"></script>
<script type="text/javascript"
		src="/app/lib/app.js"></script>
<script type="text/javascript"
		src="/app/lib/app.form-handler.js"></script>
<script type="text/javascript"
		src="/app/lib/app.validator.js"></script>
<script type="text/javascript"
		src="/app/lib/app.requestManager.js"></script>
<script type="text/javascript"
		src="/app/src/site/product-display/ProductDisplay.js"></script>

</html>
