<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<body>
<div class="content">
    <div class="table-responsive">
        <table id="bookListTable" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>CategoryId</th>
                <th>Name</th>
                <th>Created By</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="category : ${categoryList}">
                <tr>
                    <!-- <td><input hidden="hidden" name="id" th:value="${book.id}" /></td> -->
                    <td th:text="${category.getCategoryId()}"></td>
                    <td th:text="${category.getCategoryName()}"></td>
                    <td th:text="${category.getCreatedBy()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <h1 th:text="${createdBy}"></h1>
        <h1 th:text="${createdOn}"></h1>
    </div>
</div>
</body>
</html>
